<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="http://gravatar.com/avatar/e50292938335d1d2c8138bcae829c07f?s=100" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>
  Mike Tung is the CEO of Diffbot, an adviser at the Stanford-StartX accelerator 
  and the leader of Stanford's entry in the DARPA Robotics Challenge.  
  In a previous life, he was a patent lawyer, a grad student in the Stanford AI lab, 
  and a software engineer at eBay, Yahoo!, and Microsoft. Mike studied Electrical 
  Engineering and Computer Science at UC Berkeley.  He is based in Palo Alto, CA 
  where he never quite finds enough time to sleep.
  </p>

  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
